* {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

/* Add a white background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #333;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e7bb69;
    color: white;
}

.agora-title {
    font-family: 'Hind', sans-serif;
}

.background-img {
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: 0;
    overflow: hidden;
    margin: 0;
  }

img {
    max-height: 100%;
    max-width: 100%;
}

.whitepaper-button {
    /* button */
    background-color: #fff;
    border-width: 3px;
    border-color: #e7bb69;
    /* positioning */
    position: absolute;
    z-index: 1;
    height: 7%;
    width: 25%;
    top: calc(61%);
    left: calc(37.5%);
    /* fonts */
    font-size: 1.8vw;
    border-radius: 5px;
    color: #000;
}