* {
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

a{
    text-decoration: none;
}

/* Add a white background color to the top navigation */
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    display: none;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #333;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e7bb69;
    color: white;
}

.agora-title {
    display: none;
}

.background-img {
    width: 100%;
    position: relative;
    display: block;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    margin-top: 100px;
    background: transparent url('../images/agora-splash-2000.png') center center no-repeat;
    height: 1000px;
    background-size: contain;
  }

.img1 {
    max-height: 100%;
    max-width: 2000px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.img2 {
    display: none;
}

.whitepaper-button, .team-button {
    background: #FFFFFF;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.14);
    font-family: Hind;
    font-weight: 500;
    position: relative;
    z-index: 1;
    height: 64px;
    width: 300px;
    font-size: 16px;
    letter-spacing: 0.8px;
    border-style: none;
    border-image: none;
    border-color: transparent;
    border-width: 0px;
    color: #3c4a5e;
    border: 1px solid #2532460a;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 470px;
    display: block;
}

.whitepaper-button:focus, .team-button:focus {
    outline: none;
}

.team-button{
    background: #253246;
    color: #FFFFFF;
    margin-top: 10px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #253246;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #253246 transparent transparent transparent;
}

.whitepaper-button:hover .tooltiptext {
    visibility: visible;
}

